<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tidy-up</title>
</head>
<body>
    <form method="POST">
        <label>
            Name:
            <input type="text" name="name">
        </label>
        <br>
        <label>
            Does this item give you joy? 
            <input type="checkbox" name="givesJoy">
        </label>
        <br>
      
    <!-- <textarea name="description" ></textarea>
    <input type="checkbox" name="givesJoy">
    <select name="cats">
        <option value="oakley">Oakley</option>
        <option value="milla">Milla</option>
        <option value="chris">Chris</option>
        
    </select>
    <br>
    <input type="radio" name="rating" value="1">1
    <br> -->
    <input type="submit">
    </form>
    
</body>
</html>